@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1100px;
    height: 600px;
    grid-gap: 8px;
    margin: 120px auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    "reloj reloj reloj reloj reloj reloj gps gps gps gps gps depth depth depth carbon carbon carbon carbon carbon carbon"
    "reloj reloj reloj reloj reloj reloj gps gps gps gps gps depth depth depth carbon carbon carbon carbon carbon carbon"
    "reloj reloj reloj reloj reloj reloj gps gps gps gps gps depth depth depth carbon carbon carbon carbon carbon carbon"
    "reloj reloj reloj reloj reloj reloj relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral carbon carbon carbon carbon carbon carbon"
    "montain montain montain modular modular modular relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral carbon carbon carbon carbon carbon carbon"
    "montain montain montain modular modular modular relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral bateria bateria bateria dive dive dive"
    "montain montain montain modular modular modular relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral bateria bateria bateria dive dive dive"
    "band band band band band band relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral custom custom custom custom custom custom"
    "band band band band band band relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral relojcentral custom custom custom custom custom custom"
    "procesador procesador procesador procesador colors colors cicla cicla precision precision precision precision flash flash gesture gesture gesture gesture gesture gesture"
    "procesador procesador procesador procesador colors colors cicla cicla precision precision precision precision flash flash gesture gesture gesture gesture gesture gesture"
    "procesador procesador procesador procesador colors colors cicla cicla precision precision precision precision flash flash gesture gesture gesture gesture gesture gesture";
}
.container div{
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    background: var(--color-secundary);
}
.item__1{
    grid-area: reloj;
    display: flex;
}
.reloj{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__2{
    grid-area: gps;
    display: flex;
}
.gps{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__3{
    grid-area: depth;
    display: flex;
}
.depth{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__4{
    grid-area: carbon;
}
.carbon{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}
.item__5{
    grid-area: relojcentral;
    display: flex;
}
.central{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__6{
    grid-area: montain;
    display: flex;
}
.montain{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__7{
    grid-area: modular;
    display: flex;
}
.modular{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__8{
    grid-area: bateria;
    display: flex;
}
.bateria{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__9{
    grid-area: dive;
    display: flex;
}
.dive{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__10{
    grid-area: band;
}
.band{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__11{
    grid-area: custom;
}
.custom{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__12{
    grid-area: procesador;
}
.procesador{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__13{
    grid-area: colors;
}
.colors{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__14{
    grid-area: cicla;
}
.cicla{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__15{
    grid-area: precision;
}
.precision{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__16{
    grid-area: flash;
}
.flash{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.item__17{
    grid-area: gesture;
}
.gesture{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}